html{
background-color: #5F8572;

/* Default (Light Mode) */
	body {
 		 width: 600px;
 		 margin: 0 auto;
		 background-color: #9FBFB5;
 		 padding: 0 20px 20px 20px;
  		 border: 5px solid black;
		 transition: background-color 0.3s ease, color 0.3s ease;
	}

body.dark-theme {
	background-color: #333333;
  	color: #ffffff;
}

/*Title at top of page*/
	h1{ 
  		font-size: 100px;
  		font-family: "Megrim", system-ui;
  		font-weight: 400;
  		font-style: normal;
		text-align:center;
		margin: 0;
  		padding: 20px 0;
	}

/*Response text after entering name*/
	h2{
		text-align: center;
	}

	button {
  		margin:auto;
  		display:block;
		transition: background-color 0.3s ease;
	}

	#roseImage {
 		 display: block;
                 margin: 0 auto;
		 width: 90%;
		}

/*Game list*/
	#bbctLogo {
		 display: block;
                 margin: 0 auto;
		 width: 80%;
		}

	#dnfdLogo {
		 display: block;
                 margin: 0 auto;
		 width: 80%;
		}

	#dbfzLogo {
		 display: block;
                 margin: 0 auto;
		 width: 80%;
		}

	#p4arenaLogo {
		 display: block;
                 margin: 0 auto;
		 width: 75%;
		}

	#gbfvrLogo {
		 display: block;
                 margin: 0 auto;
		 width: 100%;
		}

	#ggstriveLogo {
		 display: block;
                 margin: 0 auto;
		 width: 80%;
		}

	#ggxrdr2Logo {
		 display: block;
                 margin: 0 auto;
		 width: 80%;
		}

	#sf6Logo {
		 display: block;
                 margin: 0 auto;
		 width: 100%;
		}
	#mk1Logo {
		 display: block;
                 margin: 0 auto;
		 width: 80%;
		}

	.row {
  		display: flex;
		justify-content: center;
  
	}

	.column {
  		flex: 33.33%;
  		padding: 5px;
	}
	
	/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0D0D0D; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F2F2F2;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #A8A8A8;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-button {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
}
